body {
    background-image: url("https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3871&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none;
}
.nav{
    color: rgba(255, 255, 255, 0.753);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 200px;
    margin-top: 50px;
    justify-content: space-evenly;
}
a.nav-link{
    color: rgba(255, 255, 255, 0.582);
}
a.nav-link:hover{
    color: rgb(255, 255, 255);
}
.splash{
    margin-top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-text{
    font-size: 150px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: white;
    max-width: 100vw;
}
.sub-text{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.568);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}
.down-arrow{
    font-size: 100px;
    margin-top: 200px;
    margin-bottom: 25px;
    color: rgba(255, 255, 255);
    animation: pulse 1.5s infinite;
}
.down-arrow:hover{
    color: white;
    transform : scale(.75);

}

.about-me{
    height: 100em;
    width: 100vw;
    background-color: #1F252A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes pulse {
    from {
        transform: scale(1);
        transform : translateY(-10px);
        opacity   : .5;
    }
    50% {
        transform : scale(.75);
        opacity   : 1;
        
    }
    to {
        transform: scale(1);
        transform : translateY(-10px);
        opacity   : .5;
    }
}